<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.uai.uai" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="cl.uai.uai.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="cl.uai.uai.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:name=".main.Aplication"
        android:icon="@drawable/uai_icon"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.App"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.WelcomeSlidePagerActivity" />
        <activity android:name=".menu.Main"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".sports.SportsDetail" android:theme="@style/sportsDialog" />
        <activity android:name=".calendar.CalendarDetailPublic" android:theme="@style/sportsDialog" />
        <activity android:name=".calendar.CalendarDetailPersonal" android:theme="@style/sportsDialog" />

        <activity
            android:name=".configuration.Configuration"
            android:label="Configuración"
            android:parentActivityName=".menu.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.Main" />
        </activity>

        <activity
            android:name=".messages.MessagesDetail"
            android:label="Mensaje"
            android:parentActivityName=".menu.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.Main" />
        </activity>

        <activity
            android:name=".courses.CoursesDetail"
            android:label="Curso"
            android:parentActivityName=".menu.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.Main" />
        </activity>

        <service
            android:name="com.octo.android.robospice.JacksonGoogleHttpClientSpiceService"
            android:exported="false" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="cl.uai.uai" />
            </intent-filter>
        </receiver>
        <service android:name=".notifications.GcmIntentService" />
    </application>

</manifest>
