<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.uai.uai" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.App"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.WelcomeSlidePagerActivity" />
        <activity android:name=".configuration.Configuration" />
        <activity android:name=".menu.Main" />
        <activity android:name=".sports.SportsDetail" android:theme="@style/sportsDialog" />

        <activity
            android:name=".messages.MessagesDetail"
            android:label="Mensaje">
        </activity>

        <service
            android:name="com.octo.android.robospice.JacksonGoogleHttpClientSpiceService"
            android:exported="false" />
    </application>

</manifest>
